<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/create_account.css') }}"
    />
    <title>Create Account</title>
  </head>
  <body>
    <header>
      <h1>Create Your Accoun t</h1>
      <p>Join our community and personalize your culinary journey!</p>
    </header>

    <section class="form-container">
      <form action="#" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <input
          type="submit"
          value="Create Account"
          class="create-account-button"
        />
      </form>
    </section>
    <footer>
      <a href="/login" class="login-link"
        >Already have an account? Log in here.</a
      >
    </footer>
  </body>
</html>
