<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    <title>Your Flavors, Customized</title>
  </head>
  <body>
    <header>
      <h1>Your Flavors, Customized</h1>
      <p>
        Discover a world of culinary delights tailored to your preferences and
        dietary needs.
      </p>
      <p>Your perfect recipe is just a click away!</p>
    </header>

    <section class="about">
      <h2>About Us</h2>
      <p>
        Welcome to our culinary adventure! At Your Flavors, we believe that
        everyone deserves a personalized culinary experience. Whether you have
        specific dietary needs or unique taste preferences, we're here to help
        you discover the perfect recipes tailored just for you.
      </p>
      <p>
        Explore a diverse range of dishes, find inspiration, and embark on a
        journey of delicious creations. Let's make cooking an enjoyable and
        personalized experience together!
      </p>
    </section>

    <section class="how-it-works">
      <h2>How It Works</h2>
      <p>
        1. <strong>Login:</strong> Click on the login button to access your
        personalized recipe recommendations.
      </p>
      <p>
        2. <strong>Set Preferences:</strong> Customize your flavor profile by
        specifying your dietary preferences and allergies.
      </p>
      <p>
        3. <strong>Generate Recipes:</strong> With your preferences in mind,
        click the generate button to get unique and tailored recipes just for
        you!
      </p>
    </section>

    <footer>
      <a href="/login" class="login-button">Login</a>
    </footer>
  </body>
</html>
