<!-- preferences.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preferences.css') }}"
    <title>Preferences Selection</title>
  </head>
  <body>
    <header>
      <h1>Select Your Preferences</h1>
      <p>Any ingredients you don't want to see in your recommended recipes?</p>
    </header>

    <section class="preference-container">
      <form action="/generate_recipe" method="post" class="preference-form">
        <!-- Allergy options -->
        <div class="allergy-card">
          <img src="milkfree.png" alt="Dairy-Free Image" />
          <input
            type="checkbox"
            id="dairy-free"
            name="allergies"
            value="dairy-free"
          />
          <label for="dairy-free">Dairy-Free</label>
        </div>

        <div class="allergy-card">
          <img src="nutfree.png" alt="Nut-Free Image" />
          <input
            type="checkbox"
            id="nut-free"
            name="allergies"
            value="nut-free"
          />
          <label for="nut-free">Nut-Free</label>
        </div>

        <div class="allergy-card">
          <img src="gluten.png" alt="Gluten-Free Image" />
          <input
            type="checkbox"
            id="gluten-free"
            name="allergies"
            value="gluten-free"
          />
          <label for="gluten-free">Gluten-Free</label>
        </div>

        <div class="allergy-card">
          <img src="seafood.png" alt="Seafood-Free Image" />
          <input
            type="checkbox"
            id="seafood-free"
            name="allergies"
            value="seafood-free"
          />
          <label for="seafood-free">Seafood-Free</label>
        </div>

        <input
          type="submit"
          value="Generate Recipe"
          class="generate-recipe-button"
        />
      </form>
    </section>

    <footer>
      <a href="/logout" class="logout-link">Logout</a>
    </footer>
  </body>
</html>
