<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/recipe.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Step into the World of Flavor</h1>
      <p>Welcome to our recipe app!</p>
    </header>

    <form method="POST" action="/generate_recipe/generate_recipe">
      <input type="text" name="search_query" placeholder="Search for recipes" />
      <input type="submit" value="Search" class="login-button" />
    </form>

    <div class="recipe-details">
      {% if recipes %}
      <h2>Search Results for "{{ search_query }}"</h2>
      <ul>
        {% for recipe in recipes %}
        <li>
          <h3>{{ recipe.title }}</h3>
          {% if recipe.image %}
          <img src="{{ recipe.image }}" alt="{{ recipe.title }}" />
          {% endif %}
          <a
          <a href="{{ url_for('generate.view_recipe', recipe_id=recipe.id, search_query=request.args.get('search_query')) }}">View Recipe</a></a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No recipes found for "{{ search_query }}"</p>
      {% endif %}
    </div>
  </body>
</html>
